.features-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
  }
  
  .feature {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  
  .feature-icon {
    font-size: 2rem;
    color:var(--cor-p1);
    margin-bottom: 1rem;
  }
  
  .feature-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .feature-description {
    font-size: 0.9rem;
    color:var(--cor-p1);
  }

  .feature-text:hover{
    color: var(--cor-p5);
    transition: 0.4s;
  }

  .linha{
    display: none;
  }


  @media (max-width: 768px) {
  .feature{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    height: 200px;
  }

  .linha{
    display: flex;
    background-color: var(--cor-5);

  }

  }
